#header#

<changeset node="#node|short#" rev="#rev#" author="#author|escape#" date="#date|rfc822date#">
<summary>#desc|strip|escape|firstline#</summary>
#parent%changesetparent#
#child%changesetchild#
#changesettag#
#files#
<description>#desc|strip|escape#</description>
#diff#
</changeset>
