<changelog date="#date|rfc822date#" rev="#rev#" node="#node|short#" author="#author|escape#" age="#date|age#">
  <description>#desc|escape#</description>
  #files#
  #parent%changelogparent#
  #child%changelogchild#
  #changelogtag#
</changelog>
