<changelog date="#date|rfc822date#" rev="#rev#" node="#node|short#" author="#author|escape#">
  <description>#desc|escape#</description>
  <files>#files#</files>
  #parent%changelogparent#
  #child%changelogchild#
  #changelogtag#
</changelog>
